* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}



/* Sve iznad je potrebno, treba koristiti main takoder inace ce se strgati layout*/




/* Contaienr je samo za stavljanje stvari na sredinu */
.container {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto;
}



/* HEADER */
header {
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
}


.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: grey;
}

.logo {
  margin-right: 20px;
}



/* FOOTER */
footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}


/* Zaglavlje s datumom */
.welcome {
  padding: 10px 0;
  color: grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* Respozivnost*/
@media (max-width: 1000px) {
  .container {
    padding: 0 8px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-text {
    flex-direction: column;
    align-items: center;
  }
}
